<!DOCTYPE html>
<html>
<head>
  <title>Sathish Jayapal- Pefect developer</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://use.typekit.net/ihl1qfq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/navigation'%>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
