<!DOCTYPE html>
<html>
<head>
  <title>Sathish Jayapal- Pefect developer</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/navigation'%>
<div class="container-fluid">
  <%= yield %>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
